/* src/components/Footer.css */

.footer {
    background-color: #020617;
    /* Casi negro */
    color: #64748b;
    padding: 2rem 0;
    text-align: center;
    font-size: 0.9rem;
}

.footer__container p {
    margin: 0.2rem 0;
}

/* Efecto Neón para el enlace */
.neon-link {
    color: #0ea5e9;
    /* Un azul claro base */
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
}

.neon-link:hover {
    color: #fff;
    text-shadow:
        0 0 5px #0ea5e9,
        0 0 10px #0ea5e9,
        0 0 20px #0ea5e9,
        0 0 40px #0ea5e9;
}